html {
  min-width: 320px;
  box-sizing: border-box;
}

* {

  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #417505;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
