@mixin clearfix() {

    &:before,
    &:after {
        content: '';
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}

@mixin unstyled__list() {
    margin: 0;
    padding: 0;
}

@mixin unstyled__item() {
    margin: 0;
    padding: 0;
    list-style: none;

    &:before,
    &:after {
        content: none;
    }
}
