<template>
  <div class="library-info" v-if="showBookInfo">
    <div class="library-info__inner">
      <div class="library-info__img-wrap" v-if="img">
        <img
          :src="img"
          :alt="title"
        >
      </div>
      <div class="library-info__content">
        <div class="library-info__title" v-if="title">
          {{ title }}
        </div>
        <div class="library-info__authors" v-if="authors.length > 0">
          <span class="library-info__label">Автор: </span>
          <span class="library-info__authors-text">
            {{ authors.join(', ') }}
          </span>
        </div>
        <div class="library-info__published" v-if="publishedDate">
          <span class="library-info__label">Год: </span>
          {{ year }}
        </div>
        <div class="library-info__rating">
          <rating :average-rating="averageRating"></rating>
          <span class="library-info__rating-text">
            <span class="library-info__label">Рейтинг:</span>
            <span class="library-info__rating-value">{{ rating }}</span>
          </span>
        </div>
        
        <div class="library-info__action">
          <span
            class="library-info__link library-info__link_to-favorites"
            v-if="!inFavorites"
            @click="addToFavorites(id)"
          >В избранное</span>
          <router-link
            v-else-if="inFavorites && !showFavorites"
            :to="{ name: 'favorites'}"
            class="library-info__link library-info__link_in-favorites"
          >Перейти</router-link>
          <span
            v-else
            class="library-info__link library-info__link_in-favorites"
            @click="removeFromFavorites(id)"
          >Убрать</span>
        </div>
      </div>
    </div>
    <div class="library-info__text">
      {{ description }}
    </div>
  </div>
</template>

<script>
  import Rating from './Rating';
  
  export default {
    components: {
      Rating
    },
    
    props: {
      id: {
        type: String
      },
      title: {
        type: String,
        default: ''
      },
      img: {
        type: String,
        default: ''
      },
      authors: {
        type: Array
      },
      publishedDate: {
        type: String,
        default: ''
      },
      description: {
        type: String,
        default: ''
      },
      averageRating: {
        type: Number,
        default: 0
      },
      showBookInfo: {
        type: Boolean,
        required: true
      },
      inFavorites: {
        type: Boolean,
        default: false
      },
      showFavorites: {
        type: Boolean,
        default: false
      }
    },
    
    computed: {
      year() {
        var date = new Date(this.publishedDate);
        return date.getFullYear();
      },
      rating() {
        return String(this.averageRating).replace('.', ',');
      }
    },
    
    methods: {
      addToFavorites(id) {
        if (this.inFavorites) return;
        
        this.$emit('add-to-favorite', id);
      },
      removeFromFavorites(id) {
        this.$emit('remove-from-favorites', id);
      }
    }
  };
</script>

<style lang="scss" scoped>
  
  .library-info__inner {
    display: flex;
  
    @media (max-width: 560px) {
      display: block;
    }
  }
  
  .library-info__img-wrap {
    flex-shrink: 0;
    max-width: 175px;
    margin-right: 30px;
    
    img {
      box-shadow: 2px 3px 10px 0 rgba(50, 50, 50, 0.5);
    }
  
    @media (max-width: 560px) {
      margin-bottom: 20px;
    }
  }
  
  .library-info__title {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.239;
    color: #000000;
  }
  
  .library-info__text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
  }

  .library-info__label {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.333;
    margin-right: 5px;
    color: #8e9898;
  }

  .library-info__authors {
    margin-top: 5px;
  }

  .library-info__published {
    margin-top: 5px;
  }

  .library-info__authors-text {
    color: #4b7c12;
  }

  .library-info__rating {
    margin-top: 15px;
    
    .rating {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .library-info__rating-text {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
  }

  .library-info__rating-value {
    color: #000;
  }

  .library-info__text {
    line-height: 1.714;
  }
  
  .library-info__action {
    margin-top: 35px;
  }
  
  .library-info__link {
    font-size: 12px;
    color: #c7cad2;
    cursor: pointer;
    text-decoration: none;
  }
  
  .library-info__link_to-favorites {
    white-space: nowrap;
    
    &::before {
      content: '';
      position: relative;
      top: -2px;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 18px;
      margin-right: 7px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAMAAABsDg4iAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAclBMVEXz8/Pw8PHZ2+DP0tjIy9PMz9bY2t/s7O7n6OrLzdXHytLi4+bLztXW2N3r6+3x8fLd3+Ld3uLk5efy8vPMztXX2d7d3+Po6evJzNTv7/DS1Nrq6+zKzNTT1dvo6OrR09rKzdTs7e7u7/DO0NfO0df////A6/+lAAAAAWJLR0QlwwHJDwAAAAlwSFlzAAALEgAACxIB0t1+/AAAALBJREFUGNNdj9cWgzAMQ0XIADWjLWVD9/9/Y0M6DlQvVq6dYxlAJnKptAGMVjIXGaKKkovkbieTsUWcK+l8MHp5axO8o80g6JZ57MlDMo4COX3yOB6rVD1zSAZsFChxotlCQ4WazRY2rNGy69es79gu24Y1HFKa3n5CfQLZ9HHsqL9MsxvfrpAxb5KgLL79SF1MXrkVA9qJcwgzp/N6p7e8XHj1f3coUt3wp/vj+TviBem/CC8ApU7GAAAAAElFTkSuQmCC');
    }
  }
  
  .library-info__link_in-favorites {
    color: #417505;
    text-decoration: underline;
    
    &:hover {
      text-decoration: none;
    }
    
    &::before {
      content: '';
      position: relative;
      top: -2px;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 18px;
      margin-right: 7px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAMAAABsDg4iAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAe1BMVEXz8/Pw3+HeaHbXMUXRCiPUHjTeYXDtztLqsbjTFCvQAhvRByDllqDTFSzUHTPcWWnqub/bT2DcUGHw4OLTGjHTGzLsw8jSDSXRCSLqsrnpr7bpsLfrt73SDyfqt73sxMnTFi3sxcrUHzXu0NPv2dvVKj/WK0Dw2tz///97Tyw8AAAAAWJLR0QovbC1sgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAIVJREFUGNNlz9kWgjAMRdHbidYyKgp1QHH+/z+0BcVCzlPWXnlIADAupEo0oBMlBWfwmZUNpVmWDkNu/N5oUTkDtyQOQVFAUpQoKBYoKZaoKFbAemkbf3y9nduuDi81bWxtgyHj/ub2+HaY1B0xdepG686IuvTB+itmaWXt7Y5Fj+fr/Zs/Nr4MekCLJFAAAAAASUVORK5CYII=');
    }
  }
  
</style>
