<template>
  <div class="library">
    <div class="library__content">
      <div class="library__content-inner">
        <book-info
          :id="id"
          :title="title"
          :img="img"
          :authors="authors"
          :publishedDate="publishedDate"
          :description="description"
          :averageRating="averageRating"
          :showBookInfo="showBookInfo"
          :inFavorites="inFavorites"
          :showFavorites="true"
          @remove-from-favorites="onRemoveFromFavorites"
        />
      </div>
    </div>
    <div class="library__results">
      <div class="library__results-inner">
        <div class="library-favorites">
          <router-link
            :to="{ name: 'main'}"
            class="library-favorites__link-back"
            title="Назад" />
          
          <div class="library-favorites__header">Избранное</div>
    
          <div class="library-favorites__results">
            <results-list
              :list="items"
              :showList="true"
              @select-book="onSelectBook"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  
  import BookInfo from './BookInfo';
  import ResultsList from './ResultsList';

  import { mapGetters } from 'vuex';
  import { mapActions } from 'vuex';
  
  export default {
    components: {
      BookInfo,
      ResultsList
    },
    computed: {
      ...mapGetters('favorites', [
        'items'
      ]),
      ...mapGetters('book', [
        'id',
        'img',
        'title',
        'authors',
        'publishedDate',
        'description',
        'averageRating',
        'showBookInfo',
        'inFavorites'
      ]),
      ...mapGetters([
        'showIntro'
      ])
    },
    methods: {
      ...mapActions('book', [
        'setFavoritesStatus',
        'setViewBookStatus',
        'showBookData'
      ]),
      onRemoveFromFavorites(id) {
        let bookIndex = null;
        
        this.items.forEach((item, index) => {

          if (item.id === id) {
            bookIndex = index;
          }

        });

        if (bookIndex === null) return;

        this.items.splice(bookIndex, 1);
        this.setFavoritesStatus(false);
        
        if (this.items.length === 0) {
          this.$router.push({ name: 'main'})
        }
        
      },
      onSelectBook(index) {
        const item = this.items[index];
  
        this.showBookData({
          bookData: item,
          inFavorites: true
        });
        
      }
    }
  }
  
</script>
