<template>
  <div class="library">
    <div class="library__content"
         :class="{library__content_empty: showIntro}"
    >
      <div class="library__content-header" v-if="showIntro">
        БИБЛИОТЕКА
      </div>
      <div class="library__content-inner">
        <book-info
          :id="id"
          :title="title"
          :img="img"
          :authors="authors"
          :publishedDate="publishedDate"
          :description="description"
          :averageRating="averageRating"
          :showBookInfo="showBookInfo"
          :inFavorites="inFavorites"
          :showFavorites="false"
          @add-to-favorite="onAddToFavorites"
        />
      </div>
    </div>
    <div class="library__results">
      <div class="library__results-inner">
        <search-form />
        <results-list
          :list="resultsItems"
          :showList="showSearchResults"
          @select-book="onSelectBook"
        />
      </div>
    </div>
  </div>
</template>

<script>
  
  import BookInfo from './BookInfo';
  import SearchForm from './SearchForm';
  import ResultsList from './ResultsList';
  
  import { mapGetters } from 'vuex';
  import { mapActions } from 'vuex';
  
  export default {
    components: {
      BookInfo,
      SearchForm,
      ResultsList
    },
    computed: {
      ...mapGetters('search', {
        'resultsItems': 'resultsItems',
        'showSearchResults': 'showSearchResults'
      }),
      ...mapGetters('book', [
        'id',
        'img',
        'title',
        'authors',
        'publishedDate',
        'description',
        'averageRating',
        'showBookInfo',
        'inFavorites'
      ]),
      ...mapGetters([
        'showIntro'
      ])
    },
    methods: {
      ...mapActions([
        'setViewIntroStatus'
      ]),
      ...mapActions('favorites', [
        'addItem'
      ]),
      ...mapActions('book', [
        'setFavoritesStatus',
        'showBookData'
      ]),
      onAddToFavorites(id) {
        const bookData = this.resultsItems.filter(item => item.id === id)[0];
        this.addItem(bookData);
        this.setFavoritesStatus(true);
      },
      onSelectBook(index) {
        const item = this.resultsItems[index];
  
        this.showBookData({
          bookData: item,
          inFavorites: this.$store.getters['favorites/bookInFavorites'](item.id)
        });
  
        this.setViewIntroStatus(false);
      }
    }
  }

</script>
