<template>
  <div class="rating">
    <div class="rating__inner">
      <div
        class="rating__progress"
        :style="{width: progressWidth + '%'}"
      ></div>
      <div class="rating__mask"></div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      averageRating: Number,
      default: 0
    },
    computed: {
      progressWidth() {
        return this.averageRating * 100 / 5;
      }
    }
  };
</script>

<style lang="scss" scoped>

  .rating {
    position: relative;
    width: 128px;
    height: 18px;
    margin-left: -4px;
    background: #000;
  }

  .rating__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f5a623;
  }
  
  .rating__mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(/src/assets/images/rating_gray.svg) 0 0 no-repeat;
    background-size: 100%;
  }
  
  .results {
  
    .rating {
      transform: scale(0.6) translateX(-40px);
    }
    
    .rating__mask {
      background-image: url(/src/assets/images/rating_white.svg);
    }
  }
  
</style>
