<template>
  <div class="results" v-if="showList">
    <ul class="results__list">
      <li
        class="results__item"
        v-for="(item, index) in list"
      >
        <div class="results__inner"
          @click="selectBook(index)"
        >
          <div class="results__img-wrap">
            <img
              class="results__img"
              v-if="item.volumeInfo.imageLinks && item.volumeInfo.imageLinks.thumbnail"
              :src="item.volumeInfo.imageLinks.thumbnail"
              :alt="item.volumeInfo.title"
            >
            <img class="results__img-dummy" v-else src="/src/assets/images/dummy-img-sm.jpg">
          </div>
          <div class="results__content">
            <div class="results__rating">
              <rating :average-rating="item.volumeInfo.averageRating" />
            </div>
            <div
              class="results__title"
              v-if="item.volumeInfo.title"
            >
              {{ item.volumeInfo.title }}
            </div>
            <div
              class="results__text"
              v-if="item.volumeInfo.description"
            >
              {{ getSmallDescription(item.volumeInfo.description) }}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
  import Rating from "./Rating";
  
  export default {
    components: {
      Rating
    },
    
    props: {
      list: {
        type: Array,
        default: []
      },
      showList: {
        type: Boolean,
        default: false
      }
    },
    
    data() {
      return {
        descriptionLength: 100
      };
    },
    
    methods: {
      getSmallDescription(val) {
        return (val.length >= this.descriptionLength) ?
                `${val.slice(0, this.descriptionLength)}...` :
                val;
      },
      selectBook(index) {
        this.$emit('select-book', index);
      }
    }
  };
  
</script>

<style lang="scss" scoped>
  
  .results {
    margin-top: 30px;
  }
  
  .results__list {
    margin: 0;
    padding: 0;
  }

  .results__item {
    margin: 0;
    padding: 18px 0;
    list-style: none;
    border-bottom: 1px solid #979797;
  }

  .results__inner {
    display: flex;
    cursor: pointer;
  }

  .results__img-wrap {
    flex-shrink: 0;
    max-width: 74px;
    margin-right: 17px;
  }

  .results__title {
    margin-top: 3px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.412;
  }

  .results__text {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.308;
    color: #000000;
  }
  
  .results__dummy {
    display: block;
    width: 100%;
  }

</style>
