<template>
  
  <form class="search-form" @submit.prevent="formSubmitHandler">
    <div class="search-form__wrap">
      <div class="search-form__inner">
        <input
            type="search"
            class="search-form__field"
            placeholder="Поиск"
            :value="value"
            @input="inputHandler"
        >
        <button
            v-show="formEmpty"
            type="submit"
            class="search-form__btn search-form__btn_search"
            title="Найти"
        >
        </button>
        <button
            v-show="!formEmpty"
            type="reset"
            class="search-form__btn search-form__btn_clear"
            title="Очистить"
            @click="searchClearHandler"
            v-cloak
        >
        </button>
      </div>
      <div class="search-form__results" v-if="showAutoComplete">
        <ul class="search-form__list">
          <li
            class="search-form__item"
            v-for="item in autoCompleteItems"
            :key="item.id"
          >
            <div
              class="search-form__link"
              @click="selectAutoCompleteItem"
            >
              {{ item.volumeInfo.title }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </form>
  
</template>

<script>
  
  import { mapGetters } from 'vuex';
  import { mapActions } from 'vuex';
  
  export default {
    computed: {
      ...mapGetters('search', {
        'value': 'searchInputText',
        'showAutoComplete': 'showAutoComplete',
        'autoCompleteItems': 'searchAutoCompleteItems'
      }),
      formEmpty() {
        return this.value === '';
      }
    },
    
    methods: {
      ...mapActions('search', [
        'updateSearchValue',
        'clearSearchForm',
        'submitForm'
      ]),
      inputHandler(e) {
        this.updateSearchValue(e.target.value);
      },
      formSubmitHandler() {
        document.activeElement.blur();
        this.submitForm();
      },
      searchClearHandler() {
        this.clearSearchForm();
      },
      selectAutoCompleteItem(e) {
        let text = e.target.textContent.trim();
        this.updateSearchValue(text);
        this.formSubmitHandler();
      }
    }
  };
  
</script>

<style lang="scss" scoped>
  
  .search-form__wrap {
    position: relative;
  }
  
  .search-form__inner {
    height: 44px;
  }
  
  .search-form__field {
    width: 100%;
    height: 44px;
    padding: 0 45px 0 12px;
    color: #000;
    font-size: 17px;
    background: #fff;
    border: 1px solid #7d8888;
    box-shadow: 2px 3px 10px 0 rgba(50, 50, 50, 0.5);
    border-radius: 5px;
    transition: all .2s;
    
    &:focus {
      border-color: #000;
    }
  }

  .search-form__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }

  .search-form__btn_search {
    background: transparent;
    border: none;
    box-shadow: none;
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
    }
  
    &::before {
      width: 13px;
      height: 13px;
      margin-top: -7px;
      margin-left: -8px;
      background: transparent;
      border: 2px solid #000;
      border-radius: 50%;
    }
  
    &::after {
      width: 6px;
      height: 2px;
      margin-top: 6px;
      margin-left: 2px;
      background: #000;
      border-radius: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  .search-form__btn_clear {
    background: transparent;
    border: none;
    box-shadow: none;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 1px;
      margin-left: -9px;
      background: #000;
    }
  
    &::before {
      transform: rotate(-45deg);
    }
    
    &::after {
      transform: rotate(45deg);
    }
  }
  
  .search-form__results {
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 100%;
    max-height: 450px;
    color: #000;
    background: #fff;
    border: 1px solid #7d8888;
    border-radius: 5px;
    box-shadow: 1px 3px 10px 0 rgba(50, 50, 50, 0.5);
    overflow-y: auto;
  }

  .search-form__list {
    margin: 0;
    padding: 10px 0;
    list-style: none;
  }

  .search-form__link {
    display: block;
    width: 100%;
    padding: 5px 12px;
    cursor: pointer;
    
    &:hover {
      background: #ddd;
    }
  }
  
</style>
