<template>
  <div id="app">
    <div class="wrapper">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  
  export default {
    name: 'app',
  }
  
</script>

<style lang="scss">
  @import "assets/css/normalize.css";
  @import "assets/scss/styles";
  
  $screen-xs: 767px;
  
  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration { display: none; }
  
  .library {
    display: flex;
    min-height: 900px;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
  
    @media (max-width: $screen-xs) {
      display: block;
    }
  }
  
  .library__content {
    position: relative;
    flex-shrink: 0;
    width: 53.906%;
    padding: 65px 5.078%;
    color: #0b0b0b;
    background-color: #f3f3f3;
    
    @media (max-width: $screen-xs) {
      width: 100%;
      padding: 65px 15px 15px;
    }
  }
  
  .library__content_empty {
    background: #dddddd url(/src/assets/images/bg-intro.png) no-repeat top;
  }
  
  .library__content-header {
    position: absolute;
    right: 25px;
    top: 62vh;
    width: 90%;
    font-weight: 900;
    font-size: 59px;
    line-height: 1;
    text-align: right;
    color: #4B5959;
  }
  
  .library__results {
    position: relative;
    flex-shrink: 0;
    width: 46.094%;
    padding: 65px 6.25% 65px 5.078%;
    color: #202020;
    background: #fff;
  
    @media (max-width: $screen-xs) {
      position: static;
      width: 100%;
      padding: 15px;
    }
  }
  
  .library-favorites__link-back {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 65px;
    padding: 22px;
    color: #fff;
    text-align: left;
    background: #656565;
    border: none;
    cursor: pointer;
    
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 22px;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      background: transparent;
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      transform: rotate(45deg);
    }
    
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 22px;
      width: 23px;
      height: 3px;
      margin-top: -1.5px;
      background: #fff;
    }
    
    @media (max-width: $screen-xs) {
      height: 44px;
    }
  }
  
  .library-favorites__header {
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
  }

</style>
